@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*----VARIABLES----*/

:root {
    /*Colores*/
--green-color: #7acc2d;  
--white-color: white;
--black-color: #313337; 
    /*Tipografía*/
--normal: 12px;
    /*Espaciado*/
--space: 10px;
    /* Box-shadow */
--box: 0px 0 2px 1px #e6e5e9;

}


/*----VARIABLES----*/



html, body {
    margin: 0;
    padding: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
nav li {
    padding-left: 20px;
    list-style: none;
}
nav li a {
    color: var(--black-color);
    text-decoration: none;
}
nav li a:hover {
    color: var(--white-color);
}
/* ============ */
/* Main section */
/* ============ */
.main_section {
    padding: 6%;
    text-align: center;
}
.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 20%;
    display: flex;
}
.product {
    padding: 10px;
    margin-top: -320px;
}
.product .content {
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: var(--box);
}
.img_content {
    text-align: center;
}
.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}
.main_button:hover {
    background-color: #5e9e22;
}
.details_products {
    display: flex;
    background-position: center;
    padding: 20px;
    
}
.productos {
    padding: 20px;
}
.productos .img_productos {
    background-color: var(--white-color);
    padding: 20px;
}
.img_productos {
    text-align: center;
}
.menciones {
    display: flex;
    background-position: center;
    padding: 20px;
}
.img_menciones {
    padding: 10px;
}
.menciones .img_menciones {
    background-color: var(--white-color);
    padding: 20px;
}
.img_menciones {
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
  }